<h1 id="colors"> </h1>
<div class="page-header mb-4 mt-4">
    <h3>Colors</h3>
    <p class="text-muted">The main Reproducible Builds color is Dark Blue. Use Light Blue as a secondary option.</p>
</div>
<div class="row">
    <div class="col-3">
        <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-primary text-white small">#1e5b96</div>
        <h6 class="pt-3 text-left">Primary Color</h6>
    </div>
    <div class="col-3">
        <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-secondary text-white small">#2b89d6</div>
        <h6 class="pt-3 text-left">Secondary color</h6>
    </div>
    <div class="col-3">
        <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-success text-white small">#68B030</div>
        <h6 class="pt-3 text-left">Green</h6>
    </div>
    <div class="col-3">
        <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-light text-black small">#F8F9FA</div>
        <h6 class="pt-3 text-left">Grey</h6>
    </div>
    <div class="col-3">
        <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-dark text-white small">#484848</div>
        <h6 class="pt-3 text-left">Dark Grey</h6>
    </div>
    <div class="col-3">
        <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 bg-white text-black small border">#FFFFFF</div>
        <h6 class="pt-3 text-left">White</h6>
    </div>
</div>
