<h1 id="typography"> </h1>
<div class="page-header mb-4 mt-5">
    <h3>Typography</h3>
    <p class="text-muted">Our main typography is Source Pro made by Paul D. Hunt as Adobe’s first open source typeface family, conceived primarily as a typeface for user interfaces.</p>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-black small text-muted">H1</p>
        <h1>Privacy is a right, not a privilege</h1>
        <p class="text-black small text-muted">H2</p>
        <h2>Privacy is a right, not a privilege.</h2>
        <p class="text-black small text-muted">H3</p>
        <h3>Privacy is a right, not a privilege</h3>
        <p class="text-black small text-muted">H4</p>
        <h4>Privacy is a right, not a privilege</h4>
        <p class="text-black small text-muted">H5</p>
        <h5>Privacy is a right, not a privilege</h5>
        <p class="text-black small text-muted">H6</p>
        <h6>Privacy is a right, not a privilege</h6>

        <p class="text-black small pt-5 text-muted">H1 display</p>
        <h1 class="display-1 color-primary">Reproducible Builds</h1>
        <p class="text-black small text-muted">H2 display</p>
        <h1 class="display-2 color-primary">Reproducible Builds</h1>
        <p class="text-black small text-muted">H3 display</p>
        <h1 class="display-3 color-primary">Reproducible Builds</h1>
        <p class="text-black small text-muted">H4 display</p>
        <h1 class="display-4 color-primary">Reproducible Builds</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-5">
        <p class="text-black small text-muted">Paragraph</p>
    </div>
    <div class="col">
        <p class="text-black small text-muted">Overpass</p>
        <p>
            Privacy experts warn that law enforcement, intelligence services, and malicious hackers run their own exit nodes for exactly that surveillance purpose. It's critical, then, <mark>for Tor users to only visit HTTPS-protected websites</mark> to ensure that the information that passes between the browser and the site remains encrypted.
        </p>
    </div>
    <div class="col">
        <p class="text-black small text-muted text-right
           ">ARABIC</p>
        <p class="text-right">
            شبكة تور هي مجموعة من الخوادم التي يديرها المتطوعون والتي تسمح للناس بتحسين خصوصيتهم وأمنهم على الإنترنت. يستخدم مستخدمو تور هذه الشبكة من خلال الاتصال من خلال سلسلة من الأنفاق الافتراضية بدلا من إجراء اتصال مباشر، مما يسمح للمنظمات والأفراد على حد سواء لتبادل المعلومات عبر الشبكات العامة دون المساس بخصوصيتهم. وعلى نفس المنوال، يعتبر تور أداة فعالة للرقابة على الرقابة، مما يسمح للمستخدمين بالوصول إلى وجهات أو محتويات محجوبة. يمكن أيضا استخدام تور كبنة بناء لمطوري البرمجيات لإنشاء أدوات اتصال جديدة مع ميزات خصوصية مضمنة.
        </p>
    </div>
</div>