<h1 id="typography"> </h1>
<div class="page-header mb-4 mt-5">
    <h3>Typography</h3>
    <p class="text-muted">Our main typography is Overpass made by Red Hat.</p>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-black small text-muted">H1</p>
        <h1>From source code to binary code</h1>
        <p class="text-black small text-muted">H2</p>
        <h2>From source code to binary code</h2>
        <p class="text-black small text-muted">H3</p>
        <h3>From source code to binary code</h3>
        <p class="text-black small text-muted">H4</p>
        <h4>From source code to binary code</h4>
        <p class="text-black small text-muted">H5</p>
        <h5>From source code to binary code</h5>
        <p class="text-black small text-muted">H6</p>
        <h6>From source code to binary code</h6>

        <p class="text-black small pt-5 text-muted">H1 display</p>
        <h1 class="display-1 color-primary">Software development practice</h1>
        <p class="text-black small text-muted">H2 display</p>
        <h1 class="display-2 color-primary">Software development practice</h1>
        <p class="text-black small text-muted">H3 display</p>
        <h1 class="display-3 color-primary">Software development practice</h1>
        <p class="text-black small text-muted">H4 display</p>
        <h1 class="display-4 color-primary">Software development practice</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-5">
        <p class="text-black small text-muted">Paragraph</p>
    </div>
    <div class="col">
        <p class="text-black small text-muted">Overpass</p>
        <p>
            Reproducible Builds are a set of software development practices that create an <mark>independently-verifiable path from source code to the binary code</mark> used by computers.
        </p>
    </div>
    <div class="col">
        <p class="text-black small text-muted text-right
           ">ARABIC</p>
        <p class="text-right">
            شبكة تور هي مجموعة من الخوادم التي يديرها المتطوعون والتي تسمح للناس بتحسين خصوصيتهم وأمنهم على الإنترنت. يستخدم مستخدمو تور هذه الشبكة من خلال الاتصال من خلال سلسلة من الأنفاق الافتراضية بدلا من إجراء اتصال مباشر، مما يسمح للمنظمات والأفراد على حد سواء لتبادل المعلومات عبر الشبكات العامة دون المساس بخصوصيتهم. وعلى نفس المنوال، يعتبر تور أداة فعالة للرقابة على الرقابة، مما يسمح للمستخدمين بالوصول إلى وجهات أو محتويات محجوبة. يمكن أيضا استخدام تور كبنة بناء لمطوري البرمجيات لإنشاء أدوات اتصال جديدة مع ميزات خصوصية مضمنة.
        </p>
    </div>
</div>
