<head>
  <meta charset="utf-8">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{'/assets/styles/main.css' | prepend: site.baseurl}}">

  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
