
.border-left-right {
    // z-index: 99;
    border-left: 1px solid $oc-gray-1 !important;
    border-right: 1px solid $oc-gray-1 !important;
}

.sidebar {
  min-height: 100vh;
  height: 100%;
  width: 165px;
  position: fixed;

  & .list-group {
    position: fixed;
    // width: 23vw;
  }

  & .list-group-item {
    // background-color: $oc-gray-2;
    border: 0;
    border-radius: 0 !important;
    // border-color: $oc-gray-4;
  }
}

.sidebar-wrapper {
  background-color: $oc-gray-2;
}

.sidebar__link__darkGray {
  color: $oc-gray-8 !important;

  &:hover {
    color: $oc-blue-8 !important
    // color: $oc-gray-8 !important;
  }
}

.container-wrapper {
    background: white;
}

.row {
  margin: auto !important;
}
