.sidebar {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;

  & .list-group {
    position: fixed;
    width: 23vw;
  }

  & .list-group-item {
    background-color: $oc-gray-2;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
    border-color: $oc-gray-4;
  }
}

.sidebar-wrapper {
  background-color: $oc-gray-2;
}

.sidebar__link {
  color: $oc-gray-6 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  &:hover {
    color: $oc-gray-8 !important;
  }
}

.container-wrapper {
    background: white;
}

.row {
  margin: auto !important;
}
