<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="row" style="height: 100%">
      <div class="col-md-2 col-sm-12 col-xs-12 display-md p-0">
        {% include navbar_side.html sidebarClassName="rb-sidebar__1" %}
      </div>
        <div class="col-md-10 col-sm-12 col-xs-12 container-wrapper">
          <main role="main" class="col-12 col-md-9 col-xl-8 content-scroll p-0" data-spy="scroll" data-target="#components-nav" data-offset="0">
            <!--h1 class="mt-5">Tor Styleguide | The Tor Project</h1-->

            <div class="row">
              <div class="col-12 p-0">
                <div class="page-header mb-4">
                  <h3>About</h3>
                  <p class="text-muted">Reproducible builds are a set of software development practices that create an independently-verifiable path from source code to the binary code used by computers.</p>
                </div>
                <p>This guide aims to provide standards, principles and components to design consistent views related to the Reproducible Builds project. These pages are a living document and we welcome contributions, feedback and suggestions.</p>
                </p>
                <p class="text-black small text-muted">Contact</p>
                <p class="purple">
                  Please write on the mailing list for any inquiries related to this style guide. </p>
                <div>
                  <p class="m-0">Reproducible Builds Mailing List</p>
                  <button class="btn btn-link p-0">https://lists.reproducible-builds.org/listinfo/rb-general</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-0">
                <p class="mt-5 mb-5">
                  Check out the
                  <a href="https://demo.identihub.co/project/reproducible-builds">
                      Identihub
                  </a> project where you can access all assets in various formats.
                </p>
              </div>
            </div>

            {% include scrollspy.html %}

          </main>
        </div>
    </div>
    {% include scripts.html %}

  </body>
</html>
